h1 {
    font-size: 4.2em;
    font-family: "Gill Sans", sans-serif;
    padding: 30px;
    margin: 100px ;
    font-weight: bold;
    text-decoration:  green wavy overline;
    color: grey;
    background-color: white;
}


.logo {
    background-size: cover;
    background-image: url("https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png");
    background-color: red;
    height: 100px ;
    width: 100px;
}

/*
h2 {
    font-size: ;
    font-family: ;
    padding: ;
    margin: ;
    font-weight: ;
    color: ;
    background-color: ;
}

p {
    font-family: ;
    font-size: ;
    padding: ;
    margin: ;
    color: ;
    background-color: ;
}
/*


*/
