html,
body {
    font-family: fell, Georgia, Cambria, "Times New Roman";
}


.nav__upper, .nav__lower {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    padding: 12px;
}

.upper__left {
    height: 32px;
    width: 32px;
}

.upper__right {
    display: flex;
}

.sign-in {
    padding: 7px 16px 9px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1A8917;
    text-decoration: none;
}

.get-started {
    color: #1A8917;
    font: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 16px 9px;
    border: 1px solid #1A8917;
    box-sizing: border-box;
    border-radius: 4px;
    text-decoration: none;
}

.nav__lower {
    display: flex;
    justify-content: space-evenly;
    padding: 7px;
}

.nav__lower a {
    text-decoration: none;
    font-weight: 500;
    color: #757575;
    font-size: 16px;
}


.content {
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    margin: 0 auto;
}

h1 {
    box-sizing: border-box;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    overflow-wrap: break-word;
}

p {
    font-size: 21px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 42px 0px -9.66px;
}

h2 {
    font-size: 30px;
    margin: 58.5px 0px -8.4px;
    font-family: Arial, Helvetica, sans-serif;
}

.external_links {
    padding: 1em;
}

ul {
    font-size: 18px;
    display: inline-block;
}

li a {
    color: blue;
    font-size: 18px;
}

.external_img {
    height: 15px;
    width: 15px;
}

.grid {
    display: grid;
    width: 40%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1em;
}

.grid a {
    padding: 1em;
    text-decoration: none;
    color: #272727;
    font-weight: 600;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    padding: .5em;
}

.footer__left {
    height: 32px;
    width: 32px;
}

.footer__right a {
    text-decoration: none;
    font-size: 16px;
    padding: 1em;
    color: #272727
}
